<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">Pawan's Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="{% url 'featured' %}">Featured</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="{% url 'logout' %}"><button type="button" class="btn btn-secondary">Sign Out</button></a>
            </li>
        {% else  %}
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="{% url 'login' %}"><button type="button" class="btn btn-dark">Sign In</button></a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="{% url 'register' %}"><button type="button" class="btn btn-secondary">Sign Up</button></a>
            </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>